.App {
  text-align: center;
}
.App-logo {
  height: 40px;
  float:left;
}
.App-header {
  background-color: #282c34;
  height:100px;
}
.App-link {
  color: #09d3ac;
}
.App-container{
 background-color: #fff;
  height:400px;
  width:100%
}
.App-footer-container{
background-color: #fff;
  height:400px;
  width:100%
}
.b1{
  height:100px;
  width:100px;
}
.b2{
  height:100px;
  width:100px;
}